@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  font-family: CoconÆ Next Arabic;
  min-height: 100vh;
}
.container {
  width: 90%;
  margin: auto;
}
.container {
  max-width: 1440px;
}
@media (max-width: 1280px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 576px) {
  .container {
    width: 99%;
  }
}
